<section>
	<link rel="stylesheet" type="text/css" href="modules/redflags/client/css/redflags.css" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />

<!--
  <div class="page-header">
    <h1>Redflags</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="redflag in vm.redflags"
       ui-sref="redflags.view({ redflagId: redflag._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="redflag.created | date:'mediumDate'"></span>
        by
        <span ng-if="redflag.user" ng-bind="redflag.user.displayName"></span>
        <span ng-if="!redflag.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="redflag.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.redflags.$resolved && !vm.redflags.length">
    No Redflags yet, why don't you <a ui-sref="redflags.create">create one</a>?
  </div>
-->

<div>




    <div class="container">
      <div class="row">
        <h1 align= "center" style="color: red"> Red Flag Behaviors </h1>
      </div>
      <div class="row" ng-controller="ListingsController">


<div class ="well">
	<h3 style="font-family: Comfortaa; color: black">
  <strong>So what are red flag behaviors?</strong>
	<br><br>

	1. A warning signal.
	<br>
	2. Something that demands our attention.

	<br><br>
</h3>
<h4>
	A red flag is something we must pay attention to when getting to
	 know someone. They are warning signs in a relationship. Not all red flags are non-negotiable or deal breakers.
	 But, each red flag requires our attention and demands that we assess whether or not we should continue in the relationship.
</h4>

</div>
<table class="table table-hover">
      <tbody>
        <tr>
          <td><h3>1.</h3></td>
          <td><h3>Blaming/refusing to take responsibility</h3></td>
          <td> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal" class="redtext" >More </button>
          <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: #ed3937">Blaming/refusing to take responsibility</h4>
          </div>
          <div class="modal-body">
          <p>
          <li>Speaking poorly about their ex </li>
          <li>Always assuming the role of the victim</li>
          <li>Saying comments like “all women/men are crazy” </li>
          <li>Unwilling to foster self-awareness or ask for help </li>
          <li>Refusing to admit fault</li>
          </p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
         </div>
         </div>
         </div>
         </td>
        </tr>

        <tr>
          <td><h3>2.</h3></td>
          <td><h3>Addiction issue that’s not being addressed</h3></td>
          <td> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal2">More </button>
          <div class="modal fade" style="display:none" id="myModal2" role="dialog">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: #ed3937">Addiction issue that’s not being addressed</h4>
          </div>
          <div class="modal-body">
          <p>
          <li>They become angry or different when they drink</li>
          <li>They can’t have a meal or visit friends without drinking</li>
          <li>They’re taking drugs (prescription or non) that leads to problematic behavior </li>
          <li>They drive intoxicated</li>
          <li>They actively (or secretly) smoke </li>
          </p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
         </div>
         </div>
         </div>
         </td>
        </tr>


        <tr>
          <td><h3>3.</h3></td>
          <td><h3>Controlling and/or violent behavior</h3></td>
          <td> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal3">More </button>
          <div class="modal fade" id="myModal3" role="dialog">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: #ed3937">Controlling and/or violent behavior</h4>
          </div>
          <div class="modal-body">
          <p>
          <li>Name-calling, yelling </li>
          <li>Condescending, criticising, demeaning, belittling, blaming or shaming</li>
          <li>Jealousy or passive-aggressiveness  </li>
          <li>Threatening the use of/exhibiting violence </li>
          <li>Making unnecessary comments about where you spend your money</li>
          <li>Lying or gaslighting you</li>
          <li>Withholding/using sex as form of manipulation</li>



          </p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
         </div>
         </div>
         </div>
         </td>
        </tr>

        <tr>
          <td><h3>4.</h3></td>
          <td><h3>Emotional baggage that’s not being dealt with</h3></td>
          <td> <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal4">More </button>
          <div class="modal fade" id="myModal4" role="dialog">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="color: #ed3937">Emotional baggage that’s not being dealt with</h4>
          </div>
          <div class="modal-body">
          <p>
          <li list-style-position: outside >They come on very strong before even getting to know you (also known as “love bombing”) </li>
          <li>They’re needy, self-obsessed or otherwise attention-seeking</li>
          <li>They avoid discussions relating to their past</li>
          <li>They have a history of trauma that they’ve never sought help for or worked through  </li>
          <li>They have a history of dramatic, toxic relationships</li>
          <li>They haven’t spent any significant time single (or they’re newly out of a relationship)</li>
          <li>They’re chronic people-pleasers or conflict avoiders</li>
          <li>They’re judgemental, homophobic, racist, bigot, or intolerant, closed minded</li>


          </p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
         </div>
         </div>
         </div>
         </td>
        </tr>


       </tbody>
    </table>

     <div class ="well">
  	 	<h4>The most productive way to deal with red flag behavior when it arises is to first and foremost
			acknowledge that it’s there. It’s important to take your time when getting to know someone because many red
			flag behaviors will be deal breakers, and we need to discover them before committing to a partner.
		</h4>


</div>


      </div>
    </div>
  </div>
</section>
