<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>Evalumate</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="modules/ways2grows/client/views/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
</head>

<body class="ng-cloak">
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-default"></header>
  <section class="content">
    <section class="container-fluid">
      {% block content %}{% endblock %}
    </section>
  </section>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}
  <script type "text/javascript">
  angular.module('d3', [])
    .factory('d3Service', ['$document', '$q', '$rootScope',
      function($document, $q, $rootScope) {
        var d = $q.defer();
        function onScriptLoad() {
          // Load client in the browser
          $rootScope.$apply(function() { d.resolve(window.d3); });
        }
        // Create a script tag with d3 as the source
        // and call our onScriptLoad callback when it
        // has been loaded
        var scriptTag = $document[0].createElement('script');
        scriptTag.type = 'text/javascript';
        scriptTag.async = true;
        scriptTag.src = 'http://d3js.org/d3.v3.min.js';
        scriptTag.onreadystatechange = function () {
          if (this.readyState == 'complete') onScriptLoad();
        }
        scriptTag.onload = onScriptLoad;

        var s = $document[0].getElementsByTagName('body')[0];
        s.appendChild(scriptTag);

        return {
          d3: function() { return d.promise; }
        };
  }]);
  angular.module('ways2grow', ['d3'])
  .directive('d3Wheel', ['$window', '$timeout', 'd3Service',
    function($window, $timeout, d3Service) {
    return {
      restrict: 'A',
      template: "<svg width='850' height='200'></svg>",
      scope: {
        data: '=',
        onClick: '&'
      },
        link: function(scope, ele, attrs) {
          d3Service.d3().then(function(d3) {
          //code implementation inspiration from https://gist.github.com/jrue/a2aaf36b3c096925ccbf

            // Browser onresize event
            window.onresize = function() {
              scope.$apply();
            };

            // hard-code data
            /*scope.data = [
              {name: "Greg", score: 98},
              {name: "Ari", score: 96},
              {name: 'Q', score: 75},
              {name: "Loser", score: 48}
            ];*/

            // Watch for resize event
            scope.$watch(function() {
              return angular.element($window)[0].innerWidth;
            }, function() {
              scope.render(scope.data);
            });

            scope.render = function(data) {
              // our custom d3 code

              var ways_to_grow_data_bold = [
                          {"label":"Option 21", "option":" Share something that people don't know about you."},
                          {"label":"Option 22", "option":" List everyone you carry resentment for."},
                          {"label":"Option 23", "option":" Write yourself a forgiveness letter."},
                          {"label":"Option 24", "option":" Write an encouragement letter to your future self."},
                          {"label":"Option 25", "option":" List what you've learned from past relationships."},
                          {"label":"Option 26", "option":" Ask for feedback from someone."},
                          {"label":"Option 27", "option":" Reach out to someone for advice."},
                          {"label":"Option 28", "option":" Invite a negative person in your life to change."},
                          {"label":"Option 29", "option":" Create a list of things you need to let go."},
                          {"label":"Option 30", "option":" Apologize to someone."},

              ];

              var padding = {top:20, right:40, bottom:0, left:0},
                          w = 500 - padding.left - padding.right,
                          h = 500 - padding.top  - padding.bottom,
                          r = Math.min(w, h)/2,
                          rotation = 0,
                          oldrotation = 0,
                          pickedOption = 100000,
                          selectedOptions = [],
                          color = d3.scale.ordinal()
                .domain(["Option 1", "Option 2", "Option 3","Option 4", "Option 5", "Option 6","Option 7", "Option 8", "Option 9","Option 10", "Option 11", "Option 12","Option 13", "Option 14", "Option 15","Option 16", "Option 17", "Option 18","Option 19", "Option 20",
                "Option 21", "Option 22", "Option 23", "Option 24","Option 25", "Option 26", "Option 27","Option 28", "Option 29", "Option 30"])
                .range(["#fad654" , "#ffa309" , "#d97804", "#ed2937","#b4292e","#818185"]);

                      var spinCounter = 0;

                      var svg = d3.select('#chart')
                          .append("svg")
                          .data([data])
                          .attr("width",  w + padding.left + padding.right)
                          .attr("height", h + padding.top + padding.bottom);

                      var container = svg.append("g")
                          .attr("class", "chartholder")
                          .attr("transform", "translate(" + (w/2 + padding.left) + "," + (h/2 + padding.top) + ")");

                      var vis = container
                          .append("g");

                      var pie = d3.layout.pie().sort(null).value(function(d){return 1;});

                      // declare an arc generator function
                      var arc = d3.svg.arc().outerRadius(r);

                      // select paths, use arc generator to draw
                      var arcs = vis.selectAll("g.slice")
                          .data(pie)
                          .enter()
                          .append("g")
                          .attr("class", "slice");


                      arcs.append("path")
                          .attr("fill", function(d, i){ return color(i); })
                          .attr("d", function (d) { return arc(d); });

                      // add the text
                      arcs.append("text").attr("transform", function(d){
                              d.innerRadius = 0;
                              d.outerRadius = r;
                              d.angle = (d.startAngle + d.endAngle)/2;
                              return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius -10) +")";
                          })
                          .attr("text-anchor", "end")
                          .text( function(d, i) {
                              return data[i].label;
                          });

                      container.on("click", spinWheel);


                      function spinWheel(d){

                          container.on("click", null);

                          if(selectedOptions.length == data.length){
                              d3.select("#option h1")
                                      .text("All options have been chosen!");
                          }

                          if(spinCounter<=20)
                               var  ps = 360/30;
                           else
                              var  ps = 360/30;

                          var rng  = Math.floor((Math.random() * 1440) + 360);
                          rotation = (Math.round(rng / ps) * ps);
                          //console.log(rotation+"rotation");
                          //pickedOption = Math.round(ways_to_grow_data.length - (rotation % 360)/ps);
                          //pickedOption = pickedOption >= ways_to_grow_data.length ? (pickedOption % ways_to_grow_data.length) : pickedOption;

                          if(spinCounter<20){
                          pickedOption = Math.round(data.length - (rotation % 360)/ps);
                          var oldPickedOption= pickedOption
                          console.log(pickedOption+"beforeunder20");
                          pickedOption = pickedOption >= data.length-10 ? (pickedOption % (data.length-10)) : pickedOption;
                          console.log(pickedOption+"afterunder20");
                          if(pickedOption!=oldPickedOption){
                              rotation = rotation - (ps*10);
                              //console.log(rotation+"alteredrotation");
                          }

                          }
                          else{
                          pickedOption = Math.round(data.length - (rotation % 360)/ps);
                          console.log(pickedOption+"beforenormal");
                          pickedOption = pickedOption >= data.length ? (pickedOption % data.length) : pickedOption;
                          console.log(pickedOption+"afternormal");
                          }

                          //pickedOption = Math.round(ways_to_grow_data.length - (rotation % 360)/ps);
                          //console.log(pickedOption + "before");
                          //pickedOption = ((pickedOption >= ways_to_grow_data.length &&spinCounter>20) || (pickedOption >= ways_to_grow_data.length-10 &&spinCounter<21)) ? (pickedOption % ways_to_grow_data.length) : pickedOption;
                          //console.log(pickedOption + "after");
                          //console.log(pickedOption);
                          if(selectedOptions.indexOf(pickedOption) !== -1){
                              d3.select(this).call(spinWheel);
                              //spinCounter++;
                              //console.log(spinCounter);
                              return;
                          } else {
                              selectedOptions.push(pickedOption);
                              spinCounter++;
                              console.log(spinCounter);
                          }

                          rotation += 90 - Math.round(ps/2);
                          //console.log(rotation+"newrotation");

                          var dataPick = "";

                          if(spinCounter >20)
                              dataPick = ways_to_grow_data_bold[pickedOption-20].option;
                          else
                              dataPick = data[pickedOption].option;


                          vis.transition()
                              .duration(3000)
                              .attrTween("transform", rotateWheel)
                              .each("end", function(){
                                  d3.select("#option h1")
                                      .text(dataPick);
                                  oldrotation = rotation;
                                  container.on("click", spinWheel);
                              });
                      }
                      svg.append("g")
                          .attr("transform", "translate(" + (w + padding.left + padding.right) + "," + ((h/2)+padding.top) + ")")
                          .append("path")
                          .attr("d", "M-" + (r*.15) + ",0L0," + (r*.05) + "L0,-" + (r*.05) + "Z")
                          .style({"fill":"black"});

                      container.append("circle")
                          .attr("cx", 0)
                          .attr("cy", 0)
                          .attr("r", 50)
                          .style({"fill":"white","cursor":"pointer"});

                      container.append("text")
                          .attr("x", 0)
                          .attr("y", 15)
                          .attr("text-anchor", "middle")
                          .text("SPIN")
                          .style({"font-weight":"bold", "font-size":"30px"});

                      function rotateWheel(to) {
                        var i = d3.interpolate(oldrotation % 360, rotation);
                        return function(t) {
                          return "rotate(" + i(t) + ")";
                        };
                      }
            };
          });
        }}
    }])
    .controller('ways2grow', ['$scope', '$timeout', '$http',
    function($scope, $timeout, $http) {
      $scope.data = [
                  {"label":"Option 1", "option":" Invite someone to go ahead of you in line."},
                  {"label":"Option 2", "option":" Compliment 3 People."},
                  {"label":"Option 3", "option":" Acknowledge someone's contribution."},
                  {"label":"Option 4", "option":" Meditate for 30 minutes."},
                  {"label":"Option 5", "option":" Hold the door open for people."},
                  {"label":"Option 6", "option":" Create a bucket list and share it."},
                  {"label":"Option 7", "option":" Create a gratitude list and share it."},
                  {"label":"Option 8", "option":" Ask an elder about his/her childhood."},
                  {"label":"Option 9", "option":" De-clutter your environment and donate."},
                  {"label":"Option 10", "option":" Treate a stranger to a coffee."},
                  {"label":"Option 11", "option":" Share some wisdom with your younger self."},
                  {"label":"Option 12", "option":" Give someone a handmade card/gift."},
                  {"label":"Option 13", "option":" Share your Strive for 5 progress with a friend."},
                  {"label":"Option 14", "option":" Listen to a personal growth podcast."},
                  {"label":"Option 15", "option":" Stop using social media for today."},
                  {"label":"Option 16", "option":" Share LovEd with someone who's struggling."},
                  {"label":"Option 17", "option":" Watch a TED Talk on personal growth."},
                  {"label":"Option 18", "option":" Have a date night with yourself."},
                  {"label":"Option 19", "option":" Do something you enjoyed as a kid."},
                  {"label":"Option 20", "option":" Write a letter to someone you admire."},
                  {"label":"Option 21", "option":" Share something that people don't know about you."},
                  {"label":"Option 22", "option":" List everyone you carry resentment for."},
                  {"label":"Option 23", "option":" Write yourself a forgiveness letter."},
                  {"label":"Option 24", "option":" Write an encouragement letter to your future self."},
                  {"label":"Option 25", "option":" List what you've learned from past relationships."},
                  {"label":"Option 26", "option":" Ask for feedback from someone."},
                  {"label":"Option 27", "option":" Reach out to someone for advice."},
                  {"label":"Option 28", "option":" Invite a negative person in your life to change."},
                  {"label":"Option 29", "option":" Create a list of things you need to let go."},
                  {"label":"Option 30", "option":" Apologize to someone."},
      ];
  }]);

  </script>

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>
