<section>
  <!--
  <div class="page-header">
    <h1>Emas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ema in vm.emas"
       ui-sref="emas.view({ emaId: ema._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="ema.created | date:'mediumDate'"></span>
        by
        <span ng-if="ema.user" ng-bind="ema.user.displayName"></span>
        <span ng-if="!ema.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ema.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.emas.$resolved && !vm.emas.length">
    No Emas yet, why don't you <a ui-sref="emas.create">create one</a>?
  </div>

  -->
</br>
  <div class="container panel panel-default">
  <h2 class="panel-heading text-center">This person is aware of and able to express accurately how he/she feels. </h2>
  <form class="panel-body" ng-controller="EmasListController">
    <div class="row">
      <table class='table'> <!-- add style="table-layout:fixed;" so that table do not vary in width due to text size variations -->
      <tr>
        <td style="background-color: #fad654" ><label><input type="radio" name="optradio" >Almost Never</label></td>
        <td style="background-color: #ffa309"><label><input type="radio" name="optradio" >Almost Never</label></td>
        <td style="background-color: #d97804"><label><input type="radio" name="optradio" >Almost Never</label></td>
        <td style="background-color: #ed2937"><label><input type="radio" name="optradio" >Almost Never</label></td>
        <td style="background-color: #b4292e"><label><input type="radio" name="optradio" >Almost Never</label></td>
      </tr>
     </table>

      <button type="button" class="btn btn-default" ng-show="radioClicked">Next</button>
     <!--
      <div class="col-sm-2 col-sm-offset-1 radio-inline" style="background-color: #fad654">
        <label><input type="radio" name="optradio" >Almost Never</label>
      </div>
      <div class="col-sm-2 radio-inline" style="background-color: #ffa309">
        <label><input type="radio" name="optradio">Sometimes</label>
      </div>
      <div class="col-sm-2 radio-inline" style="background-color: #d97804">
        <label><input type="radio" name="optradio">Moderately Often</label>
      </div>
      <div class="col-sm-2 radio-inline" style="background-color: #ed2937">
        <label><input type="radio" name="optradio">Often</label>
      </div>
      <div class="col-sm-2 radio-inline" style="background-color: #b4292e">
        <label><input type="radio" name="optradio">Very Often</label>
      </div>
    -->
    </div>
  </form>
</div>
</section>
