<section ng-controller="HomeController">
	<!--link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" /-->
<head>
	<title> Home Page </title>
	<link rel="stylesheet" type="text/css" href="modules/core/client/css/home.css" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />
</head>
  <div class="text-center" style="background: url(modules/core/client/img/other/couple.jpg); background-repeat: no-repeat; background-size: 100%; height: 500px">
	</div>
	<br>
	<h3 class ="home">EvaluMate™ is a web app designed to evaluate
		the levels of Romantic Attraction (RA) and Emotional Maturity (EM) in a partner.
		EvaluMate™ is a companion to all LovEd Programs.</h3>

	<br>
  <h3 class="home">We believe love doesn’t have to be a game anymore. So we’ve created a powerful tool to
    help us make the biggest decision of our lives.</h3>

	<br>
  <h3 class="home" ><strong><i>Today, we stop settling and start evaluating our relationships.</i></strong></h3>

    <!--div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

      </div>
    </div>
    <br>
    <div class="row">
      <h1 class ="home" style="color: white; font-weight:bold ">
        Changing the game of love
      </h1>
    </div>
    <div class="row" >

        <a class="btn btn-lg" href="https://www.berelationshipready.com/" target="_blank" style="background-color: #d97804; color: white; border-radius: 40px;">Learn more</a>

    </div>
  </div>
  <div class="row" style="background-color: #F5F5F5; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); padding: 20px;">
   <br>
    <h2 class ="home">Congrats! You've found the place to become emotionaly mature.</h2>
    <p class ="home" >We believe in providing the most trusted space for everything love,  relationships and personal growth. We are certain that there’s nothing wrong with us - we are not broken. It’s not about fixing ourselves, it’s about remaining accountable for what’s really going on. We know that love is not enough to sustain a relationship, and that is why LovEd is here. No hooks, no hidden agendas, no vested interests. We are not for sale, we are here to serve. </p>
    <p class ="home">
  Our goal is to revolutionize the field of self-help and construct a whole new design for its delivery model. We seek to provide transformational content that moves and inspires everyone who wishes to implement positive changes into their lives. We will combine the work of some of the most innovative thinkers in the field to deliver an array of powerful knowledge and skills. We will offer information and support that all of us need in order to take excellent care of our hearts and achieve our full potential.</p>
    <p class ="home">
We say, enough with the “trial and error” approach to love. We deserve satisfying and fulfilling relationships and we’re not settling for anything less: not anymore, not after today. We are committed to changing the entire game and equipping everyone with tools they need to finally have what they deserve. After all, love is the most meaningful thing in this life, so let’s get this party started!</p>
    <br>
  </div>
  <div class="row" style="background-color: #e6eaed">
    <br>
    <div class="col-md-4">
      <h2 class ="home"><strong>C</strong>larity</h2>
      <p class ="home">Clarity offers us an invaluable gift of understanding. It is only when we can make sense of the reasons why something hasn’t worked for us, that we are finally able to evoke effective and positive changes in our lives. When we unearth our past patterns, we are able to meet them with self-awareness and foster emotional growth. Clarity teaches us the common roadblocks to love, and shows us how to begin shifting our paths and adjusting our sails. The more connected we are with ourselves, the better equipped we will be to foster healthy, genuine connections with others. This program provides the tools we need to finally change our stories into the ones that we want and deserve. We are better than this “trial and error” approach. We now have Clarity, the new model for love.</p>
    </div>
    <div class="col-md-4">
      <h2 class ="home"><strong>C</strong>onfidence</h2>
      <p class ="home">We are all striving for something. We each have our own vision of a well-live life, full of love and happiness. When we are confident, we have the courage to seek out what we know we deserve, and no longer tolerate situations that don’t honor who we are and what we desire. So many lack that authentic confidence, and we’re not quite sure how to create it. Some people believe that confidence can be built with affirmations and positive thinking, but that’s not quite how it works. In the Confidence program we learn that true confidence comes from deep within us. This program will not only equip us with the roadmap, but it will also provide us with the tools required for navigating the journey to an enriching, more confident life.</p>
    </div>
    <div class="col-md-4">
      <h2 class ="home"><strong>C</strong>ommunication</h2>
      <p class ="home">If we can’t express our feelings, emotions, opinions and ideas to our significant other, then our relationship is unable to foster the experiences of shared vulnerability and mutual understanding necessary to tackle life’s problems as a team. The Communication program curates a feeling of understanding, compassion and support for your mutual journey. With enhanced communication skills, we can increase our capacity to clearly and eloquently convey our thoughts and feelings. In return, we facilitate our interactions within our own lives, as well as within our partnerships.</p>
    </div>
  </div>
  <br>
  <br>
  <div style="background-color: #F5F5F5;   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
    <div class="row container-fluid">
      <div class="col-sm-6" style=" background-color: #ffa409; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); display: inline-block; position: relative; border-radius: 2px; width: 50%;">

          <h2 class ="home" style="text-align: center;">MEET ISABELL</h2>
					<div>
          <h3 class ="home">Isabell Springer, PhD, MFT</h3></div>
          <h4 class ="home" style= "font-weight: bold">Relationship Therapist LovEd® Founder and Course Leader</h4>
          <p class ="home" style="text-align: justify;">
            Dr. Isabell Springer is the Founder of LovEd, an innovative self-improvement organization that is passionate about empowering you, educating you and helping you reach your full potential. We do this through a series of interactive and engaging programs and services to provide the practical, proven knowledge we need to create happy, healthy and authentic lives.
          </p>

      </div>
      <div class="col-sm-6">
        <img src="modules/core/client/img/other/isabell.jpg" style="width: 100%" />
      </div>
    </div>

  </div-->
  <br>
  <div class="row" style="background-color: #e6eaed">
    <div class="col-sm-6">

       <p class="navbar-text pull-left; home">© 2017 - Site Built Team 6B, University of Florida </p>
     </div>

     <div class="col-sm-6">
     <a href="https://github.com/easy-software" class="pull-right" style="font-family: Proxima Nova">Look at our other works.   </a>
    </div>

  </div>
   <div class="row" style="background-color: #e6eaed">

   <div class="col-md-6">
   <p class="navbar-text pull-left; home" >  By using this site, you agree to the
      <a href="privacy" style="color:blue">Privacy Policy</a> and
      <a href="termsofservice" style="color:blue">Terms of Service</a></p>

    </div>
    </div>




</section>
