<!DOCTYPE html>
<html>
  <head>

   <style>
  .center {
    margin: auto;
    text-align: left;
    width: 60%;
    border: 3px solid orange;
    padding: 10px;
    background-color: #e6eaed
}
</style>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />

   <h3 align="center" style="font-family:Comfortaa"> <b>LovEd, LLC Privacy Policy</b></h3>
</br>
<div class ="center"></br>
<p>
<b style="font-family:Comfortaa">Thank you for visiting the LovEd, LLC (LovEd) website. </b></br></br>

<p style="font-family: Proxima Nova">Protecting the privacy of your personally identifiable information (PII) is very important to us. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. </br></br>

We may also collect certain information that is not PII because it cannot be used by itself to identify you, such as your gender, age, date of birth and zip code. Accordingly, we provide this Privacy Policy to explain our practices regarding the collection, storage, use and disclosure of PII that we receive when you use our website as well as our products and associated services (collectively, "Services"). </br></br>

This Privacy Policy does not apply to any third-party websites, services or applications, even if they are accessible through our Services. In addition, this Privacy Policy is complementary to the HIPAA policy used by Dr. Isabell Springer for the collection, use and/or disclosure of information as part of any private healthcare (therapy) services.</br></br>

By accepting our Privacy Policy during registration, or by visiting the Site and/or using our Services, you voluntarily and expressly consent to our collection, use, and disclosure of your PII (as defined above) in accordance with this Privacy Policy.</br></br>

<u>Use of your PII:</u> </br>
We, or our third-party services providers, may also collect certain information from you in connection with your use of the Services, including payment information. These third-party services providers have access to your PII only for the purpose of performing services on our behalf. Please note, we also record audio and video associated with use of our Services, including but not limited to, support calls and live webinars.</br></br>

When you visit our website, the web server automatically recognizes only the Internet domain and IP address from which you accessed the site. Our website utilizes a standard technology called "cookies" and web server logs to collect information about how our website is used. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if your browser allows) that enables the site’s or service provider’s systems to recognize your browser and capture certain information. </br></br>

For instance, we use cookies to help us remember and process the Services of our site on which you click. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can make it easier for a user to move from page to page and to complete transactions. Information gathered through cookies and web server logs may include the date and time of visits, the pages viewed, time spent at our website, and the websites visited just before our website.</br></br>

In some cases we collect and store information about where you are located, such as by converting your IP address or mobile GPS data into a rough geolocation. We may use location information to improve and personalize our Services for you. This information does not result in the identification of your personal e-mail address or other PII. Although most browsers automatically accept cookies, you can change your browser options to stop automatically accepting cookies or to prompt you before accepting cookies. Please note, however, that if you don't accept cookies, you may not be able to access all portions or features of the Services.</br></br>

<u>The Security of Your Information:</u></br>
We take reasonable measures to protect the information that we collect from or about you (including your PII) from unauthorized access, use or disclosure. These measures include encrypting your communications by utilizing Secure Sockets Layer (“SSL”) software, and using a secured messaging service when we send your PII electronically. In addition, when we collect, maintain, access, use, or disclose your PII, we will do so using systems and processes consistent with information privacy and security requirements under applicable federal and state laws, including, without limitation, HIPAA. Except when you have requested us to send emails to you outside of the secure section of our Services and the Site, all electronic PHI will be encrypted when we store it or transmit it, and we will use secure servers that we will back up regularly.</br></br>

We will make any legally required disclosures of any breach of the security, confidentiality, or integrity of your PII, including, without limitation, breaches of your unencrypted electronically stored “personal information” (including but not limited to PHI or “medical information” (as defined in applicable state statutes on security breach notification)). To the extent permitted by applicable laws, we will make such disclosures to you via email or conspicuous posting on the Services in the most expedient time possible and without unreasonable delay, insofar as consistent with (i) the legitimate needs of law enforcement or (ii) any measures necessary to determine the scope of the breach and restore the reasonable integrity of the data system.</br></br>

Despite these measures, the confidentiality of any communication or material transmitted to or from us via the Services by Internet or email, or any electronic storage system, cannot be guaranteed. As a result, although we strive to protect your PII, we cannot ensure or warrant the security of any information you transmit to us through or in connection with the Site or that is stored by us. You acknowledge and agree that any information you transmit through the Site or upload for storage in connection with the Site is so transmitted or stored at your own risk. </br></br>

If you have reason to believe that your interaction with us is no longer secure (for example, if you feel that the security of any Account you might have with us has been compromised), you must immediately notify us of the problem by contacting us in accordance with the “Contacting Us” section below (note that if you choose to notify us via physical mail, this will delay the time it takes for us to respond to the problem). In addition, if you have privacy or data security related questions, please feel free to contact the office identified at the end of this document.</br></br>

<u>Information Shared with Third Parties:</u></br>
We may share aggregated information and non-identifying information with third parties for industry analysis, demographic profiling and other similar purposes.</br></br>

<u>Information Disclosed in Connection with Business Transactions:</u></br>
Information that we collect from our users, including PII, is considered to be a business asset. As a result, if we go out of business or enter bankruptcy or if we are acquired as a result of a transaction such as a merger, acquisition or asset sale, your PII may be disclosed or transferred to the third-party acquirer in connection with the transaction.</br></br>

<u>Information Disclosed for Our Protection and the Protection of Others:</u></br>
It is our policy to protect you from having your privacy violated through abuse of the legal systems, whether by individuals, entities or government, and to contest claims that we believe to be invalid under applicable law.</br></br>

However, it is also our policy to cooperate with government and law enforcement officials and private parties. Accordingly, we reserve the right to disclose any information about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary: (i) to satisfy or comply with any applicable law, regulation or legal process or to respond to lawful requests, including subpoenas, warrants or court orders; (ii) to protect our property, rights and safety and the rights, property and safety of third parties or the public in general; and (iv) to prevent or stop activity we consider to be illegal or unethical.</br></br>

<u>Modifying Your Information:</u></br>
You can request a change to the PII associated with your account by contacting us at support@berelationshipready.com or 1-833-URLOVED (1-833-875-6833). Upon notification from you, we will take steps to modify your information as soon as feasible, but some information may remain in archived/backup copies for our records or as otherwise required by law. Users/clients are asked to update their address, telephone number, and e-mail address, whenever such changes occur. Failure to do so releases us from any obligation to provide any notification.</br></br>

<u>Other Websites Linked to Our Website:</u></br>
We are not responsible for the practices employed by websites linked to or from our website nor the information or content contained therein. Some links to other websites are provided solely as pointers to information on topics that may be useful to the users of our website.</br></br>

<i>Google</i> --
Google’s advertising requirements can be summed up by Google’s Advertising Principles. They are put in place to provide a positive experience for users. We have not enabled Google AdSense on our site but we may do so in the future. https://support.google.com/adwordspolicy/answer/1316548?hl=en</br></br>

<i>DNT</i> --
Our site allows third party behavioral tracking, however we honor ‘do not track signals’ and refrain from tracking, planting cookies, or using third-party advertising when a Do Not Track (DNT) browser mechanism is in place.</br></br>

<i>COPPA</i> --
When it comes to the collection of personal information from children under 13, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation’s consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online. Our Services are not directed to children under 13 and we do not knowingly collect PII from children under 13. If we learn that we have collected PII of a child under 13 we will take steps to delete such information from our files as soon as possible.</br></br>

<u>International Data Transfer:</u></br>
Your PII may be transferred to, and maintained on, computers located outside of your state, province, country or other governmental jurisdiction where the privacy laws may differ from those in your jurisdiction. If you're located outside the United States and choose to provide your PII to us, we may transfer your PII to the United States and process it there. Your consent to this Privacy Policy followed by your submission of any PII represents your agreement to that transfer.</br></br>

<u>Fair Information Practices:</u></br>
The Fair Information Practice Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect PII.</br></br>

<u>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</u></br>
We will notify the users via email within 7 business days. We will notify the users via in-site notification within 7 business days</br></br>

<u>Privacy Policy Agreement and Changes:</u></br>
By using the Services, you agree to the current Privacy Policy and our Terms, into which this Privacy Policy is incorporated. We reserve the right, in our sole discretion, to modify, discontinue, or terminate the Services or to modify this Privacy Policy at any time. If we modify this Privacy Policy, we will notify you of such changes by posting them on the Services or providing you with notice of the modification.</br></br>

 By continuing to access or use the Services after we have posted a modification or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Privacy Policy. If the modified Privacy Policy is not acceptable to you, your only recourse is to cease using the Services.</br></br>

If you have any questions about our privacy policies, or have suggestions on how these policies can be improved, please feel free to contact us at support@berelationshipready.com or 1-833-URLOVED (1-833-875-6833)</br></br>

Please note that email communications will not necessarily be secure; accordingly, you should not include credit card information, PHI, or other sensitive information in your email correspondence with us.</br></br>

If you would like to contact us via physical mail, our mailing address is: 530 West University Ave., Gainesville, FL. 32601


</p>
</p>



 </body>
</html>
