h1.assess   {font-family: Comfortaa;
}
button.assess {font-family: Comfortaa;}
h2.assess {font-family: Comfortaa;
}

h3.assess {font-family: Comfortaa;
}
h4.assess {font-family: Proxima Nova;
}
input.assess {font-family: Comfortaa;}
p.assess {font-family: Proxima Nova; }
