a.ea{
	font-family:Comfortaa
}
h1.ea {
	font-family:  Comfortaa;


	}

	h2.ea {font-family: Comfortaa;

	}
label.ea {font-family: Proxima Nova;

}
	h3.ea {font-family: Comfortaa;

	}
	h4.ea {font-family: Comfortaa;
		text-align: left;
		

	}
	input.ea {font-family: Comfortaa;}
	p.ea {font-family: Proxima Nova;}



button.ea {font-family: Comfortaa;}
