a {
	font-family:Comfortaa
}
h1 {
	font-family:  Comfortaa;


	}

	h2 {font-family: Comfortaa;

	}

	h3 {font-family: Comfortaa;

	}
	h4 {font-family: Comfortaa;
		text-align: left;

	}
	input {font-family: Comfortaa;}
	p {font-family: Proxima Nova;

	

button {font-family: Comfortaa;}
