
<section ng-controller="ArticlesController" ng-init="find()">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />
	<style>
	h1   {font-family: Comfortaa; color: #d97804;}
	h4 {font-family: Comfortaa;}
	input {font-family: Comfortaa;}
	p {font-family: Proxima Nova}
	small {font-family: Proxima Nova}
	button {font-family: Comfortaa;}
	</style>
  <div class="page-header">
    <h1 style="color: black;font-family: Proxima Nova;font-weight: 600; letter-spacing: 2px;text-transform: uppercase;line-height: 1.2em;color: #282828;">Journal Entries</h1>
  </div>
  <div class ="row" style="text-align: center;background-color: #F0F0F0; ">
    <div class="col-md-2"></div>
      <div class = "col-md-8" style="padding: 15px;padding-top: 15px;"><font size = "4" >
        <p style="text-align: left; font-family: Adobe Garamond Pro">Here is where you'll catalog the insights you've gained from growing your emotional maturity. It's a place where you can reflect on your own progress and share the main takeaways from the assessments, red flags and Strive-for-5 Challenge. Use your journal entries to help enhance your self-awareness and your awareness of others.
      </p>
    </div>
     <div class="col-md-2"></div>
  </div>
  <div class="list-group">
    <a ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})" class="list-group-item">
      <small class="list-group-item-text" style="font-family:Adobe Garamond Pro">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'" style="font-family:Adobe Garamond Pro"></span>
        <!-- by
        <span ng-bind="article.user.displayName"></span> -->
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title" style="font-family:Adobe Garamond Pro"></h4>
      <p class="list-group-item-text" ng-bind="article.content" style="font-family:Adobe Garamond Pro"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="articles.$resolved && !articles.length" style="font-family:Adobe Garamond Pro">
    No journal entires yet, why don't you <a ui-sref="articles.create" style="font-family:Adobe Garamond Pro">create one</a>?
  </div>
</section>
