

<section ng-controller="ArticlesController" ng-init="findOne()">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />
	<style>
	h1   {font-family: Comfortaa; color: #ffa309;}
	h4 {font-family: Comfortaa;}
	input {font-family: Proxima Nova;}
	p {font-family: Proxima Nova}
	small {font-family: Proxima Nova}
	button {font-family: Comfortaa;}
	label {font-family: Comfortaa;}
	</style>
  <div class="page-header">
    <h1 ng-bind="article.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" ui-sref="articles.edit({articleId: article._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="article.created | date:'mediumDate'"></span>
      by
      <span ng-bind="article.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="article.content"></p>
</section>
