<section ng-controller="AssessmentsListController" class="ea">
	<link rel="stylesheet" type="text/css" href="modules/assessments/client/css/ea.css" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />


  <div class="container;" style="background-color: #F5F5F5;text-align: center; font-family: Comfortaa; font-weight: bold" ng-init="vm.page = 'EMA';vm.len = 30;">

    <h3>In order to submit this assessment, all questions will need to be answered!</h3>
    <div >
      <form  ng-submit="done()" >
        <div class="row">
           <div class="col-md-1">
           </div>
           <div class="col-md-10">
             <div class="form-group" >
              <label class="control-label col-sm-5" for="email">Name of person you would like to assess: </label>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="email" placeholder="Enter Name" name="email" ng-model='vm.name' ng-change="vm.change_()" required>
              </div>
            </div>
           </div>
           <div class="col-md-1">
           </div>
         </div>
        <style type="text/css">
          tr:nth-child(even) {
              background-color: #dddddd;
          }
        </style>
        <table>
          <tr>
            <td style="text-align: left;">Questions&nbsp</td>
            <td style="border-style: solid; border-width: 5px; border-color: #fad654; vertical-align: middle;">Almost Never</td>
            <td style="border-style: solid; border-width: 5px; border-color: #ffa309; vertical-align: middle;">Sometimes</td>
            <td style="border-style: solid; border-width: 5px; border-color: #d97804; vertical-align: middle; margin: 5px">Moderately Often</td>
            <td style="border-style: solid; border-width: 5px; border-color: #ed2937; vertical-align: middle;">Often</td>
            <td style="border-style: solid; border-width: 5px; border-color: #b4292e; vertical-align: middle;">Very Often</td>
          </tr>
          <style type="text/css">
            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
          </style>
          <tr ng-repeat="ema in vm.ema track by $index">
            <td style="text-align: left;">{{ema }}&nbsp</td>
            <td><label class="ea"><input class="ea" type="radio" name="optradio{{$index}}"  ng-model='vm.results[$index]' ng-value="1" ng-click="vm.change($index)" >&nbsp</label></td>
            <td><label class="ea"><input class="ea" type="radio" name="optradio{{$index}}"  ng-model='vm.results[$index]' ng-value="2" ng-click="vm.change($index)" >&nbsp</label></td>
            <td><label class="ea"><input class="ea" type="radio" name="optradio{{$index}}"  ng-model='vm.results[$index]' ng-value="3" ng-click="vm.change($index)" >&nbsp</label></td>
            <td><label class="ea"><input class="ea" type="radio" name="optradio{{$index}}"  ng-model='vm.results[$index]' ng-value="4" ng-click="vm.change($index)" >&nbsp</label></td>
            <td><label class="ea"><input class="ea" type="radio" name="optradio{{$index}}"  ng-model='vm.results[$index]' ng-value="5" ng-click="vm.change($index)" >&nbsp</label></td>
          </tr>
        </table>
        <div style="text-align: center;" ng-show='vm.change_'>
          <button type="button btn-lg" class="btn btn-warning" ng-click="vm.save()" ui-sref="assessments.emotional-maturity-landing">Submit</button>
        </div>

      </form>
    </div>

</div>
</section>
