<section ng-controller="AssessmentsController">
  <!--
  <div class="page-header">
    <h1>Emas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="ema in vm.emas"
       ui-sref="emas.view({ emaId: ema._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="ema.created | date:'mediumDate'"></span>
        by
        <span ng-if="ema.user" ng-bind="ema.user.displayName"></span>
        <span ng-if="!ema.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="ema.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.emas.$resolved && !vm.emas.length">
    No Emas yet, why don't you <a ui-sref="emas.create">create one</a>?
  </div>

  -->
</br>
  <div class="container ">
  
  <form  ng-controller="EmasListController">
    <div class="row">

      <table class='table'> <!-- add style="table-layout:fixed;" so that table do not vary in width due to text size variations -->
      <tr>
        <td style="word-wrap:break-word">
          <h4 class="text-center">This person is aware of and able to express accurately how he/she feels. </h4>
        </td>
     
        <td style="background-color: #fad654; vertical-align: middle;"><label><input type="radio" name="optradio" >1 - Almost Never</label></td>
        <td style="background-color: #ffa309; vertical-align: middle;"><label><input type="radio" name="optradio" >2 - Sometimes</label></td>
        <td style="background-color: #d97804; vertical-align: middle;"><label><input type="radio" name="optradio" >3 - Moderately Often</label></td>
        <td style="background-color: #ed2937; vertical-align: middle;"><label><input type="radio" name="optradio" >4 - Often</label></td>
        <td style="background-color: #b4292e; vertical-align: middle;"><label><input type="radio" name="optradio" >5 - Very Often</label></td>
      </tr>
      <tr>
        <td>
          <h4 class="text-center">This person demonstrates sensitivity to how others are feeling. </h4>
        </td>
     
        <td style="background-color: #fad654; vertical-align: middle;"><label><input type="radio" name="optradio" >1 - Almost Never</label></td>
        <td style="background-color: #ffa309; vertical-align: middle;"><label><input type="radio" name="optradio" >2 - Sometimes</label></td>
        <td style="background-color: #d97804; vertical-align: middle;"><label><input type="radio" name="optradio" >3 - Moderately Often</label></td>
        <td style="background-color: #ed2937; vertical-align: middle;"><label><input type="radio" name="optradio" >4 - Often</label></td>
        <td style="background-color: #b4292e; vertical-align: middle;"><label><input type="radio" name="optradio" >5 - Very Often</label></td>
      </tr>
      <tr>
        <td>
          <h4 class="text-center">This person accepts the fact that he/she has mixed feelings and is able to deal with these mixed feelings effectively. </h4>
        </td>
     
        <td style="background-color: #fad654; vertical-align: middle;"><label><input type="radio" name="optradio" >1 - Almost Never</label></td>
        <td style="background-color: #ffa309; vertical-align: middle;"><label><input type="radio" name="optradio" >2 - Sometimes</label></td>
        <td style="background-color: #d97804; vertical-align: middle;"><label><input type="radio" name="optradio" >3 - Moderately Often</label></td>
        <td style="background-color: #ed2937; vertical-align: middle;"><label><input type="radio" name="optradio" >4 - Often</label></td>
        <td style="background-color: #b4292e; vertical-align: middle;"><label><input type="radio" name="optradio" >5 - Very Often</label></td>
      </tr>
      <tr>
        <td>
          <h4 class="text-center">This person meets his/her personal desires and needs in constructive ways.  </h4>
        </td>
     
        <td style="background-color: #fad654; vertical-align: middle;"><label><input type="radio" name="optradio" >1 - Almost Never</label></td>
        <td style="background-color: #ffa309; vertical-align: middle;"><label><input type="radio" name="optradio" >2 - Sometimes</label></td>
        <td style="background-color: #d97804; vertical-align: middle;"><label><input type="radio" name="optradio" >3 - Moderately Often</label></td>
        <td style="background-color: #ed2937; vertical-align: middle;"><label><input type="radio" name="optradio" >4 - Often</label></td>
        <td style="background-color: #b4292e; vertical-align: middle;"><label><input type="radio" name="optradio" >5 - Very Often</label></td>
      </tr>
      <tr>
        <td>
          <h4 class="text-center">This person readily accepts responsibility for failure when he/she has caused the failure. </h4>
        </td>
     
        <td style="background-color: #fad654; vertical-align: middle;"><label><input type="radio" name="optradio" >1 - Almost Never</label></td>
        <td style="background-color: #ffa309; vertical-align: middle;"><label><input type="radio" name="optradio" >2 - Sometimes</label></td>
        <td style="background-color: #d97804; vertical-align: middle;"><label><input type="radio" name="optradio" >3 - Moderately Often</label></td>
        <td style="background-color: #ed2937; vertical-align: middle;"><label><input type="radio" name="optradio" >4 - Often</label></td>
        <td style="background-color: #b4292e; vertical-align: middle;"><label><input type="radio" name="optradio" >5 - Very Often</label></td>
      </tr>
      <tr>
        <td>
          <h4 class="text-center">This person deals constructively with feelings of frustration. </h4>
        </td>
     
        <td style="background-color: #fad654; vertical-align: middle;"><label><input type="radio" name="optradio" >1 - Almost Never</label></td>
        <td style="background-color: #ffa309; vertical-align: middle;"><label><input type="radio" name="optradio" >2 - Sometimes</label></td>
        <td style="background-color: #d97804; vertical-align: middle;"><label><input type="radio" name="optradio" >3 - Moderately Often</label></td>
        <td style="background-color: #ed2937; vertical-align: middle;"><label><input type="radio" name="optradio" >4 - Often</label></td>
        <td style="background-color: #b4292e; vertical-align: middle;"><label><input type="radio" name="optradio" >5 - Very Often</label></td>
      </tr>
      
     </table>
     <!--
      <button type="button" class="btn btn-default" ng-show="radioClicked">Next</button> -->
    </div>
  </form>
</div>
</section>
