<section>
  <!--
  <div class="page-header">
    <h1>{{vm.assessment._id ? 'Edit Assessment' : 'New Assessment'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.assessmentForm" class="form-horizontal" ng-submit="vm.save(vm.form.assessmentForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.assessment.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.assessmentForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Assessment name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.assessment._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
-->
<div>
  <div id = "invite prompt" ng-controller="EmailController">
		<h1 class="text center" style="color:#818185"> Pick three friends and put their email in the boxes so they can rate your emotional maturity </h1>
		</br>
		<p style="color:#818185"> Their responses will remain anonymous. You will only be able to view
			the average score of all three responses once every friend has completed the assessment
		</p>
		<div class="jumbotron">
			<!--?subject=lovED: you've been invited to rate your friend's emotional maturity!&body=Don't worry,
			your response will be kept totally anonymous and they will only see an average of multiple scores. Click here to rate your friend."-->

			<form  id="infoSubmit" method="post">
				<h2 style="color:#D97804">Email 1</h2>
					<input type="email" size="40" placeholder="username@email.com" required ng-model="email1"   />
					<h2 style="color:#D97804">Email 2</h2>

					<input type="email" size="40" placeholder="username@email.com" ng-model="email2" required />
					<h2 style="color:#D97804">Email 3</h2>
					<input type="email" size="40" placeholder="username@email.com" ng-model="email3" required />
				</br></br>
					<button class="btn btn-warning" method="post" ng-click="getEmail()" ng-hide="checkEmail()">Send the emails</button>
			</form>
		</div>
		<form action="mailto:test@test.com,test2@test.com,test3@test.com?subject=lovED: Your friend is still awaiting your response to the emotional maturity quiz&body=Don't worry,
			 your response will be kept totally anonymous and they will only see an average of multiple scores. Don't keep them waiting! Click this link to rate your friend now." method="post">
				<input class="btn btn-warning" type="submit" value="If you already invited friends and want to send them a reminder, click here">
		</form>
	</br>


			<a href = "scores" >
			<button class="btn btn-warning">  Navigate to the scores page to view past scores! </button>
			</a>

    </div>
  </div>

</div>
</section>
