<section ng-app="assessments" ng-init="findOne()">

<div ng-controller='emailController' ng-init="findOne()">
	<link rel="stylesheet" type="text/css" href="modules/core/client/css/emailFriends.css" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />
  <div id = "invite prompt" >
		<style>
			h1   {font-family: Comfortaa;}
			h2 {font-family: Comfortaa;}
			h4 {font-family: Comfortaa;
					text-align: center
			}
			input {font-family: Adobe Garamond Pro;}
			h5 {font-family: Comfortaa;}
			p {font-family: Proxima Nova;
				 text-align: center;
			}
			button {font-family: Comfortaa;}
		</style>
		<h1 class="text" style="color: black;font-family: Proxima Nova;font-weight: 600; letter-spacing: 2px;text-transform: uppercase;line-height: 1.2em;color: #282828;"> Emotional Maturity Self-Assessment
		</h1>
		<div class="row" style="background-color:#E8E8E8; padding: 10px">
			<div class="col-md-2"></div>
			<div class="col-md-8" >
				<font size = "4" >
				<p style="text-align: left; font-family: Adobe Garamond Pro; color: #585858">Not only is it important to make smart choice in a partner, but also in how we can grow our own EM so we become the partners we would want.
				It’s not only in how we occur to ourselves, but also in how we occur to others because that
				is who we’re impacting with our behavior. With this self-assessment, we get honest feedback that
				allows us to understand how we occur to others.
				By inviting three individuals that we know and trust to anonymously evaluate us, we can strive to be the 5.</p>
				</font>
			</div>
			<div class="col-md-2"></div>
		</div>
		
		
		
		<div class="jumbotron" style="border-radius: 0; background-color: white">

			<form  id="infoSubmit" name="assessmentForm" method="post">
				<div class="row">
					<div class="col-md-6">
				<h2 style="font-family: Proxima Nova; color:#303030">Email 1</h2>
					<input type="email" size="40" placeholder="username@email.com" required ng-model="assessment.email1.address" />

					<h2 style="font-family: Proxima Nova; color:#303030">Email 2</h2>
					<input type="email" size="40" placeholder="username@email.com" ng-model="assessment.email2.address" required />

					<h2 style="font-family: Proxima Nova; color:#303030">Email 3</h2>
					<input type="email" size="40" placeholder="username@email.com" ng-model="assessment.email3.address" required />
				</br></br>
					<button style="color: white;border-radius: 3px; border-color:#ffa309;  background-color: #ffa309; padding: 7px;padding-left: 12px;padding-right: 12px;" method="post" ng-click="getEmail(); create(assessmentForm.$valid)" novalidate ng-hide="checkEmail()">Send Email</button>
				</div>
				<div class="col-md-6">
					<h2 style="color: #D97804; text-align: center; font-family: Adobe Garamond Pro"> {{msg}}</h2>
				</div>
				</div>
			</form>
		</div>
		<form id="resend"  method="post">
			</form>
		<h4 >If you already invited friends and want to send them a reminder, click <input type="submit"  value="here" ng-click="remEmail()" style="outline:none; border: 0; color: balck; margin: 0;text-decoration: underline overline"></h4>

		<hr>
	</br>



    </div>
  </div>

</div>
</section>
