<!DOCTYPE html>
<!--- This is a rough draft of the skeleton code for the webapp. This is the background that will be constant across all views for the webapp. -->
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>EvaluMate</title>
<link rel="stylesheet" type="text/css" href="main.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
</head>
<body>
  <div id = "main-nav">
	<div id = "invite prompt" ng-controller="EmailController">
		<h1> Pick three friends and put their email in the boxes so they can rate you! </h1>
		<div class="jumbotron">
			<!--?subject=lovED: you've been invited to rate your friend's emotional maturity!&body=Don't worry,
			your response will be kept totally anonymous and they will only see an average of multiple scores. Click here to rate your friend."-->

			<form  action="{{emailstring}}" method="post">
				<!--ng-bind-html="printEmail(emailstring)"-->
		 		<h2>Email 1</h2>
			 		<input id="tag0" type="text" size="40" placeholder="username@email.com"  ng-model="email1" required />
					<h2>Email 2</h2>

			 		<input id="tag1" type="text" size="40" placeholder="username@email.com" ng-model="email2" required />
					<h2>Email 3</h2>
					<input id="tag2" type="text" size="40" placeholder="username@email.com" ng-model="email3" required />

					<button  type="button" value="Send the emails!"  method="post" ng-click=getEmail()>Send the emails</button>
			</form>
		<div>
			 <form action="mailto:test@test.com,test2@test.com,test3@test.com?subject=lovED: Your friend is still awaiting your response to the emotional maturity quiz&body=Don't worry,
			 your response will be kept totally anonymous and they will only see an average of multiple scores. Don't keep them waiting! Click this link to rate your friend now." method="post">
				<input type="submit" value="If you already invited friends and want to send them a reminder, click here">
			</form>
			<a href = "scores">
			<h3 >  Navigate to the scores page to view past scores! </h3>
			</a>
		</div>
	</div>
</body>

<!--- This is the footer. Will update when necessary information is provided -->
<!---<footer>
  <div id = "foot">
    <h4 align="center"> CEN3031 Project </h4>
  </div>
</footer>-->
</html>
