<section ng-controller="AssessmentsListController">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />
	<style>
	h1   {font-family: Comfortaa;}
	h2 {font-family: Comfortaa;}
	input {font-family: Comfortaa;}
	p {font-family: Proxima Nova}
	button {font-family: Comfortaa;}
	</style>
	<div class="jumbotron text-center" style="background: url('modules/assessments/client/img/raa.jpg'); background-size: 100%;  background-position: center;  ">

  <h1 style="color: #ffa309;text-shadow: 3px 3px 0px #000">Romantic Attraction Quiz</h1>
<br>
  <a href="RAA">
  		<button type="button" class="btn btn-warning">Take Assessment</button>
  </a>
</section>

</div>
<section ng-controller="ArticlesController" ng-init="find()">

	<style>
	h1   {font-family: Comfortaa; color: #d97804;}
	h2 {font-family: Comfortaa;}
	input {font-family: Comfortaa;}
	p {font-family: Proxima Nova;}
	a {font-family: Proxima Nova;}
	td {font-family: Proxima Nova;}
	table {width: 100%;}
	button {font-family: Comfortaa;}
	</style>

<div class="row" style="text-align:center">
	<br>
	<div class="col-md-6" >
		<h1>RAQ Scores</h1>
		<table>
			<tr class="row" >
				<td class="col-md-4" style="color: #818185;border-style: solid; border-width: 5px; border-bottom-width: 2.5px; border-bottom-width: 5px;border-color: #fad654; vertical-align: middle; border-color: #fad654;font-family: Comfortaa;font-size: 150%;">
					NAME
				</td>
				<td class="col-md-4" style="color: #818185;border-style: solid; border-width: 5px; border-bottom-width: 2.5px; border-bottom-width: 5px;border-color: #fad654; vertical-align: middle; border-color: #fad654;font-family: Comfortaa;font-size: 150%;">
					SCORE
				</td >
				<td class="col-md-4" style="color: #818185;border-style: solid; border-width: 5px; border-bottom-width: 2.5px; border-bottom-width: 5px;border-color: #fad654; vertical-align: middle; border-color: #fad654;font-family: Comfortaa;font-size: 150%;">
					DATE TAKEN
				</td >
			</tr>
			<tr class="row" ng-repeat="test in vm.assessment.raaresult.slice().reverse()" >
				<td class="col-md-4" style="color: #818185;border-style: solid; border-width: 5px; border-bottom-width: 2.5px; border-bottom-width: 5px;border-color: #fad654; vertical-align: middle; border-color: #fad654">
					{{test.name}}
				</td>
				<td class="col-md-4" style="color: #818185;border-style: solid; border-width: 5px; border-bottom-width: 2.5px; border-bottom-width: 5px;border-color: #fad654; vertical-align: middle; border-color: #fad654">
					{{test.score}}
				</td >
				<td class="col-md-4" style="color: #818185;border-style: solid; border-width: 5px; border-bottom-width: 2.5px; border-bottom-width: 5px;border-color: #fad654; vertical-align: middle; border-color: #fad654">
					{{vm.convertDate(test.time)}}
				</td >
			</tr>
		</table>
		
	</div>
	<div class="col-md-6" >
		<h1> Score Translation</h1>
			<img src="modules/assessments/client/img/translatingRA.jpg" width="80%" height="250x">
			<!--a style="color: #818185;" ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})">
				<small>
					Posted on
					<span style="color: #818185;" ng-bind="article.created | date:'mediumDate'"></span>
				</small>
				<h4 style="color: #818185;" class="list-group-item-heading" ng-bind="article.title"></h4>
				<p style="color: #818185;" class="list-group-item-text" ng-bind="article.date"></p>
			</a-->
		</div>
		<!--a style="color: #818185;" ng-repeat="article in articles" ui-sref="articles.view({articleId: article._id})">
			<small>
				Posted on
				<span style="color: #818185;" ng-bind="article.created | date:'mediumDate'"></span>
			</small>
			<h4 style="color: #818185;" class="list-group-item-heading" ng-bind="article.title"></h4>
			<p style="color: #818185;" class="list-group-item-text" ng-bind="article.date"></p>
		</a-->
	</div>
</div>

</section>
