<section ng-controller="AssessmentsListController">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />
	<style>
	h1   {font-family: Comfortaa;}
	h2 {font-family: Comfortaa;}
	input {font-family: Comfortaa;}
	p {font-family: Proxima Nova}
	button {font-family: Comfortaa;}
	</style>
	<div class="jumbotron text-center" style="background: url('modules/assessments/client/img/raa.jpg'); background-size: 100%;  background-position: center;  ">

  <h1 style="color: white;font-family: Proxima Nova;font-weight: 600; letter-spacing: 2px;text-transform: uppercase;line-height: 1.2em;">ROMANTIC ATTRACTION QUIZ</h1>
<br>
  <a href="RAA">
  		<button type="button" style="color: white;border-radius: 3px; border-color:#ffa309;  background-color: #ffa309; padding: 7px;padding-left: 12px;padding-right: 12px;">Take Assessment</button>
  </a>
</section>

</div>
<section ng-controller="ArticlesController" ng-init="find()">

	<style>
	h1   {font-family: Comfortaa; color: #d97804;}
	h2 {font-family: Proxima Nova;font-weight: 600; letter-spacing: 2px;text-transform: uppercase;line-height: 1.2em;color:	#585858;}
	input {font-family: Comfortaa;}
	p {font-family: Proxima Nova;}
	a {font-family: Proxima Nova;}
	td {font-family: adobe garamond pro;border-style: solid; border-width: 5px; border-bottom-width: 2.5px; border-bottom-width: 5px;border-color: #fad654; vertical-align: middle; border-color: #fad654;}
	table {width: 100%;}
	button {font-family: Comfortaa;}
	</style>

<div class="row" style="text-align:center">
	<br>
	<div class="col-md-6" >
		<h2>RAQ Scores</h2>
		<br>
		<table>
			<tr>

			</tr>
			<tr class="row" >
				<td class="col-md-4" style="font-size: 125%; color:#d97804">
					NAME
				</td>
				<td class="col-md-4" style="font-size: 125%; color:#d97804">
					SCORE
				</td >
				<td class="col-md-4" style="font-size: 125%; color:#d97804">
					DATE TAKEN
				</td >
			</tr>
			<tr class="row" ng-repeat="test in vm.assessment.raaresult.slice().reverse()" >
				<td class="col-md-4" style="color: #818185;">
					{{test.name}}
				</td>
				<td class="col-md-4" style="color: #818185;"">
					{{test.score}}
				</td >
				<td class="col-md-4" style="color: #818185;">
					{{vm.convertDate(test.time)}}
				</td >
			</tr>
		</table>

	</div>
	<div class="col-md-6" >
		<h2 > Score Translation</h2>
			<br>
		<table>

			<tr>
				<td style="font-size: 125%; color:#d97804;text-transform: uppercase">Rating</td>
				<td style="font-size: 125%; color:#d97804;text-transform: uppercase">Scale</td>
				<td style="font-size: 125%; color:#d97804;text-transform: uppercase">Level</td>
			</tr>
			<tr>
				<td style="color: #818185; ">134-150</td>
				<td style="color: #818185;">6</td>
				<td style="color: #818185;text-transform: uppercase">Highest Attraction</td>
			</tr>
			<tr>
				<td style="color: #818185;">115-133</td>
				<td style="color: #818185;">5</td>
				<td style="color: #818185; text-transform: uppercase;">Great Attraction</td>
			</tr>
			<tr>
				<td style="color: #818185;">96-114</td>
				<td style="color: #818185;">4</td>
				<td style="color: #818185;text-transform: uppercase">Just Friends</td>
			</tr>
			<tr>
				<td style="color: #818185;">77-95</td>
				<td style="color: #818185;">3</td>
				<td style="color: #818185;text-transform: uppercase">No Attraction</td>
			</tr>
			<tr>
				<td style="color: #818185;">54-76</td>
				<td style="color: #818185;">2</td>
				<td style="color: #818185;text-transform: uppercase">No Attraction</td>
			</tr>
			<tr>
				<td style="color: #818185;">30-53</td>
				<td style="color: #818185;">1</td>
				<td style="color: #818185; text-transform: uppercase">No Attraction</td>
			</tr>
			<tr >
				<td colspan="3""><font style="color: #ed2937">REMEMBER:</font> In order to sustain a relationship, we must score 5 or 6 on the scale of attraction and those feelings must be mutual.</td>
			</tr>

		</table>
	</div>

	</div>
</div>

</section>
