<!DOCTYPE html>
<!--- This is a rough draft of the skeleton code for the webapp. This is the background that will be constant across all views for the webapp. -->
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>EvaluMate</title>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Josefin+Slab">
</head>
<body>
  <div id = "main-nav">
  </div>
	<h1 style="font-family: Comfortaa; color:#818185">Emotional Maturity scores from friends</h1>
	<p style="font-family: Proxima Nova; color:#818185"> The following documents are dated by when the average was created. Each score is an average from three
			friends who you invited to rate you.
	<p>
</body>

<!--- This is the footer. Will update when necessary information is provided -->
<!---<footer>
  <div id = "foot">
    <h4 align="center"> CEN3031 Project </h4>
  </div>
</footer>-->
</html>
