h1   {font-family: Proxima Nova;
			text-transform: uppercase;


	color: #d97804
}
button {font-family: Comfortaa;}
h2 {

	color: #d97804
}

h3 {font-family: Comfortaa;

}
h4 {font-family: Proxima Nova;

}


p {
color: #404040;
font-family: Adobe Garamond Pro;
}
