<section id = "Ways2growsListController" ng-controller="Ways2growsListController" ng-init="find()">
	<!--link rel="stylesheet" type="text/css" href="modules/ways2grows/client/css/strive.css" /-->
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Proxima Nova" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=P Adobe Garamond Pro" />
<html>
<head>
    <meta charset="utf-8">
		<!--This is the HTML View for the StriveForFive Page-->
    <title>Strive-for-5 Challenge</title>
</head>
<body>
		<!--This is the static information provided by the client about the StriveForFive Challenge-->
    <h1 style="color: black;font-family: Proxima Nova;font-weight: 600; letter-spacing: 2px;text-transform: uppercase;line-height: 1.2em;color: #282828;"> Strive-for-5 Challenge </h1>
		<br>

		<font size = "5">
			<p style="text-align: center; font-family: Adobe Garamond Pro; color: #585858">The Strive-for-5 Challenge promotes our self-awareness,
					which is required for developing great emotional maturity.</p>
		</font>
		 <br>
		<br>
	</div>


	<div class ="row" style="text-align: center;background-color: #F0F0F0; ">

		<h2 style="text-align: center; font-family: Proxima Nova; color:#303030"> What does Strive-for-5 mean?</h2>
		<br>
		<div class="col-md-1"></div>
	    <div class = "col-md-10" style="padding: 15px;padding-top: 15px;"><font size = "4" >
	    	<p style="text-align: left">Being a “5” refers to a level of “great maturity” from the Emotional Maturity Scale,
			discussed in the LovEd Clarity program. However, the “Strive-for-5” Challenge is for everyone,
			even if you yet to experience Clarity. This challenge is about stepping outside of your comfort zone.
				We have purposely created some tasks to sound ambiguous, as an opportunity
				for you to interpret them in a way that resonates most profoundly with you.Because research suggests it takes 21 days to form a new habit,
			the first 3 weeks of this challenge will serve as practice for our personal growth.
			To really solidify our emotional development, the final week will put us to the test.
			</p>
		</div>
		<div class="col-md-1"></div>
	</div>
			</font>

    </p>
		<!--The chart div encompasses the wheel-->
    <div id="chart"></div>
		<!--This option div displays the value associated with each slice on the wheel - when the wheel spins,
		the information is displayed next to it, in this div-->
    <div id="option"><h1></h1></div>
		<!--This is the main javascript code that contains all of the logic for the wheel-->
    <script type="text/javascript" src="modules/ways2grows/client/views/script.js"></script>
	</div>
</body>
</html>
</section>
