a.header {
	font-family:Comfortaa
}
h1.header {
	font-family:  Proxima Nova;width: 64%; margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	text-align: justify;
	text-transform: uppercase;
	color: black;
	}

	h2.header {font-family: Proxima Nova; width: 64%; margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	text-align: justify;
	text-transform: uppercase;
	color: black;
	}

	h3.header {font-family: Proxima Nova; width: 64%; margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: justify;
	text-align: center;
	text-transform: uppercase;
	color: black;
	}
	h4.header {font-family: Proxima Nova; width: 64%; margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: justify;
	text-align: center;
	text-transform: uppercase;
	color: black;
	}
	input.header {
		font-family: Comfortaa;
		color: black;
	}
	p.header {font-family: Proxima Nova; width: 64%; margin: 0 auto;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	text-align: justify;
	text-transform: uppercase;
	color: black;
	}
button.header {font-family: Comfortaa;
color: black;}
