h1.home   {font-family: Comfortaa;width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: center;
}
button.home {font-family: Comfortaa;}
h2.home {font-family: Comfortaa; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: center;
}
sup.home {font-family: Comfortaa}
h3.home {font-family: Proxi Nova; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: justify;
text-align: left;
}
h4.home {font-family: Proxima Nova; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: justify;
text-align: center;
}
input.home {font-family: Comfortaa;}
p.home {font-family: Proxima Nova; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: center;
text-align: justify;}
