h1   {font-family: Comfortaa;width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: center;
}
button {font-family: Comfortaa;}
h2 {font-family: Comfortaa; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: center;
}

h3 {font-family: Comfortaa; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: justify;
text-align: center;
}
h4 {font-family: Proxima Nova; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: justify;
text-align: center;
}
input {font-family: Comfortaa;}
p {font-family: Proxima Nova; width: 64%; margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
text-align: center;
text-align: justify;}
button {font-family: Comfortaa;}
